<div>
    {{{ linkToMessanger }}}
    <div class="profile-page">
        <div class="form">
            <div class="content">
                <div class="avatar" style="background-image: url({{ memoji }});">
                    {{#if avatar}}
                    <img class= "image" src="{{sourceLink}}{{ avatar }}">
                    {{/if}}
                </div>
                <div class="name">{{ first_name }}</div>

                <div class="shows">
                    <div class="field">
                        <div class="tip">Почта</div>
                        <div class="inner">{{ email }}</div>
                    </div>
                    <div class="field">
                        <div class="tip">Логин</div>
                        <div class="inner">{{ login }}</div>
                    </div>
                    <div class="field">
                        <div class="tip">Имя</div>
                        <div class="inner">{{ first_name }}</div>
                    </div>
                    <div class="field">
                        <div class="tip">Фамилия</div>
                        <div class="inner">{{ second_name }}</div>
                    </div>
                    <div class="field">
                        <div class="tip">Телефон</div>
                        <div class="inner">{{ phone }}</div>
                    </div>
                </div>
                {{{ linkChangeProfile }}}
                {{{ linkChangePassword }}}
                {{{ linkExit }}}
            </div>
        </div>
    </div>
</div>
