<div>
    {{{ linkToProfile }}}
    {{#if showPopupChanger}}
    <div class="popup-background">
        <div class="popup-changer">
            <div>Загрузите файл</div>
            <label class="file" for="file-upload" class="custom-file-upload">
                {{{ changeAvatarText }}}
            </label>
            {{{ inputFile }}}
            {{{ buttonChangeAvatar }}}
        </div>
    </div>
    {{/if}}

    <div class="profile-page">
        <form id="prof-form" class="form">
            <div class="content">
                {{{ avatarChanger }}}
                <div class="name">{{ first_name }}</div>

                <div class="inputs">
                    <div class="field">
                        <div class="tip">Почта</div>
                        {{{ inputEmail }}}
                    </div>
                    <div class="field">
                        <div class="tip">Логин</div>
                        {{{ inputLogin }}}
                    </div>
                    <div class="field">
                        <div class="tip">Имя</div>
                        {{{ inputFirstName }}}
                    </div>
                    <div class="field">
                        <div class="tip">Фамилия</div>
                        {{{ inputSecondName }}}
                    </div>
                    <div class="field">
                        <div class="tip">Телефон</div>
                        {{{ inputPhone }}}
                    </div>
                </div>

                {{{ button }}}
            </div>
        </form>
    </div>
</div>
