<div class="messages-head">
    <div class="message-head-left-block">
        {{#if actualChat.avatar}}
        <img class="avatar" src="{{ sourceLink }}{{ actualChat.avatar }}">
        {{else}}
        <img class="avatar" src="{{ avatar }}">
        {{/if}}
        <div>{{ actualChat.title }}</div>
    </div>
    {{{ chatActionsComponent }}}
</div>
