<div class="login-page">
    <form class="form reg">
        <div class="head">
            <div class="name">Регистрация</div>
            <div class="inputs">
                <div class="tip">Почта</div>
                {{{ inputEmail }}}
                <div class="error">Укажите верный адрес</div>

                <div class="tip">Логин</div>
                {{{ inputLogin }}}
                <div class="error">Неверный логин</div>

                <div class="tip">Имя</div>
                {{{ inputFirstName }}}
                <div class="error">Укажите имя</div>

                <div class="tip">Фамилия</div>
                {{{ inputSecondName }}}
                <div class="error">Укажите фамилию</div>

                <div class="tip">Телефон</div>
                {{{ inputPhone }}}
                <div class="error">Укажите верный номер</div>

                <div class="tip">Пароль</div>
                {{{ inputPassword }}}
                <div class="error">Пароль введен неправильно</div>

                <div class="tip">Пароль (еще раз)</div>
                {{{ inputPasswordCheck }}}
                <div class="error">Пароли не совпадают</div>
            </div>
        </div>
        <div class="footer">
            {{{ button }}}
            <a href="login.hbs">
                <div class="ask">Войти</div>
            </a>
        </div>
    </form>
</div>
