<div>
    <a href="profile.html">
        <div class="back-panel">
            <img src="{{ backPanel }}">
        </div>
    </a>

    <div class="profile-page">
        <form class="form">
            <div class="content">
                <div class="avatar">
                    <img src="{{ memoji }}">
                </div>
                <div class="name">Игорь</div>

                <div class="inputs">
                    <div class="field">
                        <div class="tip">Старый пароль</div>
                        {{{ inputOldPassword }}}
                        <div class="error">Пароль введен неправильно</div>
                    </div>
                    <div class="field">
                        <div class="tip">Новый пароль</div>
                        {{{ inputPassword }}}
                        <div class="error">Пароль введен неправильно</div>
                    </div>
                    <div class="field">
                        <div class="tip">Повторите новый пароль</div>
                        {{{ inputPasswordCheck }}}
                        <div class="error">Пароли не совпадают</div>
                    </div>
                </div>

                {{{ button }}}
            </div>
        </form>
    </div>
</div>
