<div>
    {{{ linkToProfile }}}
    <div class="profile-page">
        <form class="form">
            <div class="content">
                <div class="avatar">
                    <img src="{{ memoji }}">
                </div>
                <div class="name">Игорь</div>

                <div class="inputs">
                    <div class="field">
                        <div id="pass" class="tip">Старый пароль</div>
                        {{{ inputOldPassword }}}
                    </div>
                    <div class="field">
                        <div class="tip">Новый пароль</div>
                        {{{ inputPassword }}}
                    </div>
                    <div class="field">
                        <div class="tip">Повторите новый пароль</div>
                        {{{ inputPasswordCheck }}}
                    </div>
                </div>

                {{{ button }}}
            </div>
        </form>
    </div>
</div>
